<div class="grid grid-cols-2 items-center justify-items-center p-4"
     *ngIf="un_super$ | async as un_seul_super_hero">
  <img class="rounded-lg" [src]="un_seul_super_hero.images.md">
  <div class="text-white text-xl">
    <div class="font-bold  text-center
                    border border-white p-2 mb-2">
      {{ un_seul_super_hero.name }}
    </div>
    <div class="text-center m-4">
      {{ un_seul_super_hero.biography.fullName }}
    </div>
    <div>
      <p class="m-2">
        Statistiques
      </p>
      <ul class="list-disc list-inside">
        <li class="ml-6">Intelligence : {{ un_seul_super_hero.powerstats.intelligence }}</li>
        <li class="ml-6">Force : {{ un_seul_super_hero.powerstats.strength }}</li>
        <li class="ml-6">Vitesse : {{ un_seul_super_hero.powerstats.speed }}</li>
        <li class="ml-6">Puissance : {{ un_seul_super_hero.powerstats.power }}</li>
        <li class="ml-6">Combat : {{ un_seul_super_hero.powerstats.combat }}</li>
      </ul>
    </div>
  </div>
</div>
